# rabbitmq
RABBITMQ_DEFAULT_USER=sumit
RABBITMQ_DEFAULT_PASS=sumit123

# PgAdmin
PGADMIN_1_DEFAULT_EMAIL=admin1@admin1.com
PGADMIN_1_DEFAULT_PASSWORD=admin1

PGADMIN_2_DEFAULT_EMAIL=admin2@admin2.com
PGADMIN_2_DEFAULT_PASSWORD=admin2