# Service configs
PORT=3001

# RABBIT_MQ_URL=amqp://localhost:5672
RABBIT_MQ_URL=amqp://sumit:sumit123@rabbitmq:5672

# DB configs
DB_POSTGRES_TYPE='postgres'
DB_POSTGRES_HOST='database-1'
DB_POSTGRES_PORT=5432        # 5433
DB_POSTGRES_USERNAME='postgres'
DB_POSTGRES_PASSWORD=123     # sumit123
DB_POSTGRES_DATABASE='microservice1'

# docker user
POSTGRES_USER= postgres
POSTGRES_PASSWORD= 123
POSTGRES_DB=microservice1